<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <div class="col-md-12 col-12 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">rule</i>
                </div>
                <h4 class="card-title" style="width: 50% !important;">Daftar Permohonan Pencairan Reward</h4>
            </div>
            <div class="card-body ">
                <div class="row">
                    <label class="col-md-3 col-form-label">Status Permohonan</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="selectpicker" data-size="7" data-style="select-with-transition" id="optStatusPembayaran">
                                <option value="1" selected> Validasi</option>
                                <option value="2"> Selesai</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="material-datatables">
                    <table id="table" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                           width="100%" style="width:100%">
                        <thead>
                        <tr>
                            <th>ID Permohonan</th>
                            <th>Nama Responden</th>
                            <th>Nilai Pencairan</th>
                            <th>Status Permohonan</th>
                            <th>Keterangan</th>
                            <th class="disabled-sorting">Aksi</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--    MODAL UPDATE PEMBAYARAN-->
    <div class="modal fade" id="mdlUpdatePby" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title title-form">Form Update Permohonan Pencairan Reward</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal"  id="frmUpdatePby">
                        <div class="row">
                            <label class="col-md-4 col-form-label text-right">ID Pencairan<span style="color: #ff7878">*</span></label>
                            <div class="col-md-7 form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtPbyIdSurvey" name="txtPbyIdSurvey" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-form-label text-right">Nama Responden<span style="color: #ff7878">*</span></label>
                            <div class="col-md-7 form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtPbyNamaPeneliti" name="txtPbyNamaPeneliti" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-form-label text-right">Saldo Reward <span style="color: #ff7878">*</span></label>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtPbySaldo" name="txtPbySaldo" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-form-label text-right">Nilai Reward <span style="color: #ff7878">*</span></label>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtPbyJudul" name="txtPbyJudul" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-form-label text-right">Keterangan<span style="color: #ff7878">*</span></label>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTotalPembayaran" name="txtTotalPembayaran" disabled>
                                </div>
<!--                                <label id="errorlabel-txtTotalPembayaran" class="text-danger" style="display: none">Isian ini harus diisi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
                            </div>
                        </div>
                        <!--<div class="row">
&lt;!&ndash;                            <img src="C/upload/3f75c37babde4e1aa5608bbf9a66aba5-16072024165151.jpg" alt="HTML5 Icon" style="width:300px;height:300px;">&ndash;&gt;
                        <div id="buktiTransfer"></div>
                        </div>-->
                        <div class="row">
                            <label class="col-md-4 col-form-label label-checkbox text-right">Persetujuan<span style="color: #ff7878">*</span></label>
                            <div class="col-md-7 checkbox-radios">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="rbtPembayaran" value="2"> Setuju
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="rbtPembayaran" value="1"> Tolak
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <label id="errorlabel-rbtPembayaran" class="text-danger" style="display: none">Isian ini harus diisi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark btn-link" data-dismiss="modal">Batal</button>
                    <button type="button" class="btn btn-facebook" id="btnSimpanStsPby">Simpan</button>
                </div>
            </div>
        </div>
    </div>

    <!--    MODAL DETAIL SURVEY-->
    <div class="modal fade" id="mdlDetailSurvey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title title-form">Detail Survey</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal"  id="frmDetailSurvey">
                        <div class="row">
                            <label class="col-md-4 col-form-label text-right">ID Survey</label>
                            <div class="col-md-7 form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtDetailIdSurvey" name="txtDetailIdSurvey" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-form-label text-right">Nama Peneliti</label>
                            <div class="col-md-7 form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtDetailNamaPeneliti" name="txtDetailNamaPeneliti" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-form-label text-right">Judul Survey</label>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtDetailJudul" name="txtDetailJudul" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 col-form-label text-right">Total Pembayaran</label>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtDetailTotalPembayaran" name="txtDetailTotalPembayaran" disabled>
                                </div>
                                <!--                                <label id="errorlabel-txtTotalPembayaran" class="text-danger" style="display: none">Isian ini harus diisi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
                            </div>
                        </div>
                    </form>
                    <div class="material-datatables">
                        <table id="tblDetailSurvey" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                               width="100%" style="width:100%">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Nama Responden</th>
                                <th>Nomor Telepon</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark btn-link" data-dismiss="modal">Selesai</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/plugins/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.validate-message.js}"></script>
    <script th:src="@{/assets/js/plugins/moment.min.js}"></script>
    <script th:src="@{/assets/js/plugins/bootstrap-selectpicker.js}"></script>
    <script th:src="@{/assets/js/plugins/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
    <script th:src="@{/assets/js/plugins/fullcalendar.min.js}"></script>
    <script th:src="@{'/assets/js/page/customer-relation/reward-responden.js' + '?v=' + ${@environment.getProperty('app.jsversion')}}"
            type="text/javascript"></script>
</th:block>
</html>