<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" id="frmChangeProfile">
                <div class="card ">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <h4 class="card-title">Profil Pengguna</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <div class="form-group has-default">
                                    <input class="form-control" disabled="disabled" id="txtid" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Nama</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" disabled="disabled" id="txtNama" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Nomor Telepon <span
                                    style="color: #ff7878">*</span></label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <!--                                <input type="text" class="form-control" id="txtNoTelp" name="txtNoTelp" required="true" maxlength="255">-->
                                    <input class="form-control" id="txtNoTelp" name="txtNoTelp" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Email <span style="color: #ff7878">*</span></label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" id="txtEmail" name="txtEmail" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Jenis Kelamin</label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input checked class="form-check-input" name="txtJnsKelamin"
                                               id="txtJnsKelamin_p" type="radio"
                                               value="L"> Laki-laki
                                        <span class="circle">
                              <span class="check"></span>
                            </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="txtJnsKelamin" id="txtJnsKelamin_l"
                                               type="radio" value="P">
                                        Perempuan
                                        <span class="circle">
                              <span class="check"></span>
                            </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Tanggal Lahir</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker" id="txtTglLahir" name="txtTglLahir">
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-4">
                            <div class="card ">
                                <div class="card-header card-header-rose card-header-text">
                                    <div class="card-icon">
                                        <i class="material-icons">library_books</i>
                                    </div>
                                    <h4 class="card-title">Date Picker</h4>
                                </div>
                                <div class="card-body ">
                                    <div class="form-group">
                                        <input type="text" class="form-control datepicker" value="10/06/2018">
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Nomor Identitas</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" id="txtKtp" name="txtKtp" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Pendidikan</label>
                            <div class="col-sm-10">
                                <div class="form-group select-wizard">
                                    <select class="selectpicker" data-size="7" data-style="select-with-transition"
                                            id="optPendidikan" name="optPendidikan" title="Pilih Pendidikan">
<!--                                        <option disabled> </option>-->
                                        <option value="sma"> s.d SMA/Sederajat</option>
                                        <option value="diploma"> Diploma I/II/III</option>
                                        <option value="sarjana"> DIV/Sarjana</option>
                                        <option value="S2"> S2</option>
                                        <option value="S3"> S3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Pekerjaan</label>
                            <div class="form-group col-sm-10">
                                <select class="selectpicker" data-size="7" data-style="select-with-transition"
                                        id="optPekerjaan" name="optPekerjaan" title="Pilih Pekerjaan">
<!--                                    <option disabled> Pilih Pekerjaan</option>-->
                                    <option value="swasta"> Pegawai Swasta</option>
                                    <option value="bumn"> Pegawai BUMN</option>
                                    <option value="asn"> ASN</option>
                                    <option value="swasta"> Wiraswasta</option>
                                    <option value="pelajar"> Pelajar/Mahasiswa</option>
                                    <option value="tidak_kerja"> Belum/Tidak Bekerja</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Penghasilan Minimal</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" id="txtGajiMin" name="txtGajiMin" type="text" number="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Penghasilan Maksimal</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" id="txtGajiMax" name="txtGajiMax" type="text" number="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Status Pernikahan <span
                                    style="color: #ff7878">*</span></label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input checked class="form-check-input" name="txtStsNikah"
                                               id="txtStsNikah_blm" type="radio"
                                               value="1"> Belum Menikah
                                        <span class="circle">
                              <span class="check"></span>
                            </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="txtStsNikah"
                                               id="txtStsNikah_sdh" type="radio" value="2">
                                        Sudah Menikah
                                        <span class="circle">
                              <span class="check"></span>
                            </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="txtStsNikah"
                                               id="txtStsNikah_pernah"  type="radio" value="3">
                                        Duda/Janda
                                        <span class="circle">
                              <span class="check"></span>
                            </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Jumlah Anak</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" id="txtJmlAnak" name="txtJmlAnak" type="text" number="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Alamat Domisili</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" id="txtAlamatDomisili" name="txtAlamatDomisili"
                                           type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Provinsi Domisili</label>
                            <div class="form-group col-sm-10">
                                <select class="selectpicker" data-size="10" data-style="select-with-transition"
                                        name="optProvinsiDomisili" id="optProvinsiDomisili">
                                    <option disabled> Pilih Provinsi</option>
                                    <option value="11">
                                        ACEH
                                    </option>
                                    <option value="12">
                                        SUMATERA UTARA
                                    </option>
                                    <option value="13">
                                        SUMATERA BARAT
                                    </option>
                                    <option value="14">
                                        RIAU
                                    </option>
                                    <option value="15">
                                        JAMBI
                                    </option>
                                    <option value="16">
                                        SUMATERA SELATAN
                                    </option>
                                    <option value="17">
                                        BENGKULU
                                    </option>
                                    <option value="18">
                                        LAMPUNG
                                    </option>
                                    <option value="19">
                                        KEPULAUAN BANGKA BELITUNG
                                    </option>
                                    <option value="21">
                                        KEPULAUAN RIAU
                                    </option>
                                    <option value="31">
                                        DKI JAKARTA
                                    </option>
                                    <option value="32">
                                        JAWA BARAT
                                    </option>
                                    <option value="33">
                                        JAWA TENGAH
                                    </option>
                                    <option value="34">
                                        DI YOGYAKARTA
                                    </option>
                                    <option value="35">
                                        JAWA TIMUR
                                    </option>
                                    <option value="36">
                                        BANTEN
                                    </option>
                                    <option value="51">
                                        BALI
                                    </option>
                                    <option value="52">
                                        NUSA TENGGARA BARAT
                                    </option>
                                    <option value="53">
                                        NUSA TENGGARA TIMUR
                                    </option>
                                    <option value="61">
                                        KALIMANTAN BARAT
                                    </option>
                                    <option value="62">
                                        KALIMANTAN TENGAH
                                    </option>
                                    <option value="63">
                                        KALIMANTAN SELATAN
                                    </option>
                                    <option value="64">
                                        KALIMANTAN TIMUR
                                    </option>
                                    <option value="71">
                                        SULAWESI UTARA
                                    </option>
                                    <option value="73">
                                        SULAWESI SELATAN
                                    </option>
                                    <option value="74">
                                        SULAWESI TENGGARA
                                    </option>
                                    <option value="75">
                                        GORONTALO
                                    </option>
                                    <option value="76">
                                        SULAWESI BARAT
                                    </option>
                                    <option value="81">
                                        MALUKU
                                    </option>
                                    <option value="82">
                                        MALUKU UTARA
                                    </option>
                                    <option value="94">
                                        PAPUA
                                    </option>
                                    <option value="91">
                                        PAPUA BARAT
                                    </option>
                                    <option value="72">
                                        SULAWESI TENGAH
                                    </option>
                                    <option value="65">
                                        KALIMANTAN UTARA
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Alamat Kerja</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" id="txtAlamatKerja" name="txtAlamatKerja" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Provinsi Kerja</label>
                            <div class="form-group col-sm-10">
                                <select class="selectpicker" data-size="10" data-style="select-with-transition"
                                        name="optProvinsiKerja" id="optProvinsiKerja">
                                    <option disabled> Pilih Provinsi</option>
                                    <option value="11">
                                        ACEH
                                    </option>
                                    <option value="12">
                                        SUMATERA UTARA
                                    </option>
                                    <option value="13">
                                        SUMATERA BARAT
                                    </option>
                                    <option value="14">
                                        R I A U
                                    </option>
                                    <option value="15">
                                        J A M B I
                                    </option>
                                    <option value="16">
                                        SUMATERA SELATAN
                                    </option>
                                    <option value="17">
                                        BENGKULU
                                    </option>
                                    <option value="18">
                                        LAMPUNG
                                    </option>
                                    <option value="19">
                                        KEPULAUAN BANGKA BELITUNG
                                    </option>
                                    <option value="21">
                                        KEPULAUAN RIAU
                                    </option>
                                    <option value="31">
                                        DKI JAKARTA
                                    </option>
                                    <option value="32">
                                        JAWA BARAT
                                    </option>
                                    <option value="33">
                                        JAWA TENGAH
                                    </option>
                                    <option value="34">
                                        DI YOGYAKARTA
                                    </option>
                                    <option value="35">
                                        JAWA TIMUR
                                    </option>
                                    <option value="36">
                                        B A N T E N
                                    </option>
                                    <option value="51">
                                        BALI
                                    </option>
                                    <option value="52">
                                        NUSA TENGGARA BARAT
                                    </option>
                                    <option value="53">
                                        NUSA TENGGARA TIMUR
                                    </option>
                                    <option value="61">
                                        KALIMANTAN BARAT
                                    </option>
                                    <option value="62">
                                        KALIMANTAN TENGAH
                                    </option>
                                    <option value="63">
                                        KALIMANTAN SELATAN
                                    </option>
                                    <option value="64">
                                        KALIMANTAN TIMUR
                                    </option>
                                    <option value="71">
                                        SULAWESI UTARA
                                    </option>
                                    <option value="73">
                                        SULAWESI SELATAN
                                    </option>
                                    <option value="74">
                                        SULAWESI TENGGARA
                                    </option>
                                    <option value="75">
                                        GORONTALO
                                    </option>
                                    <option value="76">
                                        SULAWESI BARAT
                                    </option>
                                    <option value="81">
                                        MALUKU
                                    </option>
                                    <option value="82">
                                        MALUKU UTARA
                                    </option>
                                    <option value="94">
                                        PAPUA
                                    </option>
                                    <option value="91">
                                        PAPUA BARAT
                                    </option>
                                    <option value="72">
                                        SULAWESI TENGAH
                                    </option>
                                    <option value="65">
                                        KALIMANTAN UTARA
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Nama Bank / e-Wallet</label>
                            <div class="col-sm-10">
                                <select class="selectpicker" data-size="7" data-style="select-with-transition"
                                id="optBank" name="optBank">
                                    <option value="bri"> BRI</option>
                                    <option value="bca"> BCA</option>
                                    <option value="mandiri"> Bank Mandiri</option>
                                    <option value="ovo"> OVO</option>
                                    <option value="gopay"> GOPAY</option>
                                    <option value="dana"> DANA</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Nomor Rekening / Nomor Telepon</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" id="txtNomorRek" name="txtNomorRek" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ml-auto mr-auto">
                        <div class="row">
                            <div class="col-md-1">
                                <button class="btn btn-facebook" id="btnSimpanProfile" type="button">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/plugins/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.validate-message.js}"></script>
    <script th:src="@{/assets/js/plugins/moment.min.js}"></script>
    <script th:src="@{/assets/js/plugins/bootstrap-selectpicker.js}"></script>
    <script th:src="@{/assets/js/plugins/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
    <script th:src="@{/assets/js/plugins/fullcalendar.min.js}"></script>
    <script th:src="@{'/assets/js/page/utility.js' + '?v=' + ${@environment.getProperty('app.jsversion')}}"
            type="text/javascript"></script>
    <script th:src="@{'/assets/js/page/responden/profil-responden.js' + '?v=' + ${@environment.getProperty('app.jsversion')}}"
            type="text/javascript"></script>
</th:block>

<script>
/*    $(document).ready(function() {
        // initialise Datetimepicker and Sliders
        md.initFormExtendedDatetimepickers();
        if ($('.slider').length != 0) {
            md.initSliders();
        }
    });*/
</script>
</html>